xml/registrationRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:element name="registrationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="username"/>
				<xs:element ref="email"/>
				<xs:element ref="password"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="username" type="xs:string"/>
	<xs:element name="password" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="email" type="xs:string"/>
</xs:schema>
