xml/registrationMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="UserNumber" type="xs:int"/>
	<xs:element name="Email" type="xs:string"/>
	<xs:element name="Password" type="xs:string"/>
	<xs:element name="Registration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="UserNumber"/>
				<xs:element ref="Email"/>
				<xs:element ref="Password"/>
			</xs:sequence>
			<xs:attribute name="regNo" type="xs:int"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
