xml/requestQuestionRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="requestQuestionRequest">
		<xs:complexType>
			<xs:attribute name="refIdUser" type="xs:int" use="optional"/>
			<xs:attribute name="refIdQ" type="xs:int" use="required"/>
			<xs:attribute name="allStudents" type="xs:boolean" use="required"/>
			<xs:attribute name="sessionNumber" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
