xml/sendAnswerResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="state" type="xs:int"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="sendAnswerResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="resultState"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="resultState">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="state"/>
				<xs:element ref="description"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
