xml/sendAnswerResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="State" type="xs:int"/>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="SendAnswerResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResultState"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultState">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="State"/>
				<xs:element ref="Description"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
