xml/sendAnswerRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Answer" type="xs:string"/>
	<xs:element name="SendAnswerRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Answer"/>
			</xs:sequence>
			<xs:attribute name="refIdUser" type="xs:int" use="required"/>
			<xs:attribute name="refIdQ" type="xs:int" use="required"/>
			<xs:attribute name="SessionNumber" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
