xml/statsDatabase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="wrongAnswers" type="xs:int"/>
	<xs:element name="questionsAsked" type="xs:int"/>
	<xs:element name="questionAnswered" type="xs:int"/>
	<xs:element name="correctAnswers" type="xs:int"/>
	<xs:element name="statsDatabase">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="questionsAsked"/>
				<xs:element ref="questionAnswered"/>
				<xs:element ref="correctAnswers"/>
				<xs:element ref="wrongAnswers"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
