xml/statsRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="whichStat" type="xs:string"/>
  <xs:element name="dateOfSession" type="xs:string"/>
  <xs:element name="statsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="whichStat"/>
        <xs:element ref="dateOfSession"/>
      </xs:sequence>
      <xs:attribute type="xs:short" name="sessionNumber"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
