xml/xmlDB.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)--> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 
  <xs:element name="xmlDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="questions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="question" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="questionBody"/>
                    <xs:element name="answers">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="answer" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="answerBody"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="bool" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="idQ" use="optional"/>
                  <xs:attribute type="xs:byte" name="refIdUser" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="users">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="username"/>
                    <xs:element type="xs:string" name="email"/>
                    <xs:element type="xs:string" name="birthDate"/>
                    <xs:element type="xs:string" name="password"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="idUser" use="optional"/>
                  <xs:attribute type="xs:string" name="role" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="stats">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="session" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="numOfQuestionsAsked"/>
                    <xs:element type="xs:byte" name="numOfQuestionsAnswered"/>
                    <xs:element name="questionsAsked">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="qAsked">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="correctAnswer">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:byte" name="numOfCorrectAnswers" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="wrongAnswer">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:byte" name="numOfWrongAnswers" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="idQAsked" use="optional"/>
                              <xs:attribute type="xs:byte" name="refIdQ" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="idS" use="optional"/>
                  <xs:attribute type="xs:byte" name="refIdUser" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>